.wrapper, .site-header {
    padding-top: $top-padding;
    padding-left: $horizontal-padding;
    padding-right: $horizontal-padding;
}

.bg {
    z-index: -1;
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;

    img {
        position: absolute; 
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0; 
        margin: auto; 
        min-width: 50%;
        min-height: 50%;
      }
}

.description {
    position: absolute;
    max-width: $column-width;
    top: 25vh;
}

.discover {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    height: 111px + 2 * $fat-border-size;
    max-width: 720px;
    min-width: 720px;
    bottom: $bottom-padding;
    right: 0px;
    background-color: #fff;
    border-left: $fat-border-size #fff solid;
    border-top: $fat-border-size #fff solid;
    border-bottom: $fat-border-size #fff solid;
    border-top-left-radius: $fat-border-radius;
    border-bottom-left-radius: $fat-border-radius;
    padding-right: $horizontal-padding;

    p {
        align-self: center;
    }
}

.footer {
    position: absolute;
    bottom: $bottom-padding;

    p {
        margin-bottom: $fat-border-size;
    }
}

.banner {
    position: absolute;
    display: flex;
    justify-content: left;
    align-content: center;
    column-gap: 40px;

    background-color: $background-gray;
    bottom: $bottom-padding;
    left: 0;
    padding-left: $horizontal-padding;
    max-height: 111px + 2 * $fat-border-size;
    min-height: 111px + 2 * $fat-border-size;
    max-width: 1452px;
    min-width: 1452px;

    border-right: $fat-border-size $background-gray solid;
    border-top: $fat-border-size $background-gray solid;
    border-bottom: $fat-border-size $background-gray solid;
    border-top-right-radius: $fat-border-radius;
    border-bottom-right-radius: $fat-border-radius;

    box-shadow: 4px 5px 9px 0 rgba(115,112,112,0.50);

    div {
        display: flex;
        align-self: center;
    }

    p {
        align-self: center;
    }

    .text {
        max-width: 255px;
        min-width: 255px; // max-width: 10vw;
    }

    .logo img {
        max-height: 100px;
        max-width: 100px;
        padding-right: 20px;
    }
}

.contact {
    position: absolute;
    top: $top-padding;
    right: $horizontal-padding;
    padding-top: $top-buffer;
}

.left-arrow {
    position: absolute;
    font-family: $bold-font-family;
    font-size: $standard-font-size * 2;
    color: #002C3D;
    opacity: 0.3;
    top: 45%;
    left: 5px;
}

.right-arrow {
    position: absolute;
    font-family: $bold-font-family;
    font-size: $standard-font-size * 2;
    color: #002C3D;
    opacity: 0.3;
    top: 45%;
    right: 5px;
}