@include media-query($on-tablet) {
    body {
        font-family: $base-font-family;
        font-size: $standard-font-size * 0.8;
        line-height: 1.5;
        color: #24292e;
        background-color: #fff;
    }

    h1 {
        font-size: $heading-font-size * 0.8;
    }

    .wrapper, .site-header {
        padding-top: $top-padding - $padding-offset;
        padding-left: $horizontal-padding - $padding-offset;
        padding-right: $horizontal-padding - $padding-offset;
    }

    .footer,
    .discover {
        font-size: $small-font-size * 0.8;
    }

    .footer {
        bottom: $bottom-padding - $padding-offset;
    }

    .discover {
        max-width: 520px;
        min-width: 520px;
        bottom: $bottom-padding - $padding-offset;
    }

    .contact {
        font-size: $small-font-size * 0.8;
        top: $top-padding - 2px - $padding-offset;
        right: $horizontal-padding - $padding-offset;
        padding-top: $top-buffer - $padding-offset + 28px;
    }

    .banner {
        max-width: 1224px;
        min-width: 1224px;
        padding-left: $horizontal-padding - $padding-offset;
    }
}

@include media-query($on-phone) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .contact, 
    .description {
        position: relative;
        align-self: flex-start;
        padding-top: 0;
        padding-bottom: $horizontal-padding;
        top: 0;
        right: 0;
        max-width: none;
        min-width: none;
        width: auto;
    }

    .discover {
        position: relative;
        flex-direction: row;
        justify-content: center;
        top: 0;
        right: 0;
        margin: 0;
        padding-left: 0px;
        text-align: center;
        border-top-right-radius: $fat-border-radius;
        border-bottom-right-radius: $fat-border-radius;
        max-width: none;
        min-width: auto;
    }

    .banner {
        flex-direction: column;
        position: relative;
        bottom: 0;
        margin-left: -1 * $horizontal-padding;
        margin-right: -1 * $horizontal-padding;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        max-height: none;
        min-height: auto;
        max-width: none;
        min-width: auto;
        width: auto;
        justify-content: left;
        row-gap: 20px;

        div {
            align-self: flex-start;
        }

        .text {
            max-width: none;
            min-width: none;
            width: auto;
        }

        .logo {
            min-width: 15vw;
        }
    }

    .arrows {
        display: flex;
        flex-direction: row;
        row-gap: 180px;
        justify-content: space-between;

        .left-arrow {
            position: relative;
            top: 0;
            left: 0;
            align-self: flex-start;
        }

        .right-arrow {
            position: relative;
            top: 0;
            right: 0;
            align-self: end;
        }
    }
}