@font-face {
    font-family: 'Monda';
    font-style: normal;
    font-weight: 900;
    font-display: auto;
    src: url("fonts/Monda-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Monda-Bold';
    font-style: normal;
    font-weight: 900;
    font-display: auto;
    src: url("fonts/Monda-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Signika';
    font-style: normal;
    font-weight: 900;
    font-display: auto;
    src: url("fonts/Signika-Regular.ttf") format("truetype");
}

body {
    font-family: $base-font-family;
    font-size: $standard-font-size;
    line-height: 1.5;
    color: #24292e;
    background-color: #fff;
}

b {
    font-family: $bold-font-family;
}

h1 {
    font-family: $heading-font-family;
    font-size: $heading-font-size;
}

a {
    text-decoration: none;
    color: #002C3D;
}

.footer, .discover, .contact {
    font-family: "Monda-Bold", Arial;
    font-size: $small-font-size;
}

.footer, .footer a {
    color: #fff;
}

.discover {
    text-decoration: underline;
}

.banner {
    font-family: $base-font-family;
    font-size: $smaller-font-size;
}