$base-font-family: "Monda","Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$bold-font-family: "Monda-Bold","Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$heading-font-family: "Signika","Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

$small-font-size: 1.8vh;
$smaller-font-size: 1.2vh;
$heading-font-size: 5vh;
$top-buffer: 3.2vh;
$standard-font-size: 2vh;

$top-padding: 3.5vh;
$bottom-padding: 3.5vh;
$horizontal-padding: 4vw;
$column-width: 580px;

$fat-border-size: 30px;
$fat-border-radius: 16px;

$background-gray: #EFF0E7;

$on-tablet:        1024px !default;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
      @content;
    }
  }