$base-font-family: "Monda","Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$bold-font-family: "Monda-Bold","Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$heading-font-family: "Signika","Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

$small-font-size: 1.8vh;
$smaller-font-size: 1.2vh;
$heading-font-size: 4vh;
$standard-font-size: 2vh;

$top-padding: 8vh;
$top-buffer: $heading-font-size - $standard-font-size;
$padding-offset: 5vh;
$bottom-padding: 5vh;
$horizontal-padding: 7vw;
$column-width: 30vw;

$banner-height: 14vh;
$banner-logo-padding: 1vw;
$banner-width: 80vw;
$banner-text-width: 16vw;
$banner-text-padding: 3vw;

$fat-border-size: 2.5vh;
$fat-border-radius: 2.5vh;

$background-gray: #EFF0E7;

$on-tablet:        1452px !default;
$on-phone:         1224px !default;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
      @content;
    }
  }