$base-font-family: "Monda","Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$bold-font-family: "Monda-Bold","Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$heading-font-family: "Signika","Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

$small-font-size: 24px; // 1.8vh;
$smaller-font-size: 15px; // 1.2vh;
$heading-font-size: 64px; // 5vh;
$top-buffer: 41px;
$standard-font-size: 28px; // 2vh;

$top-padding: 84px;
$bottom-padding: 40px;
$horizontal-padding: 132px;
$column-width: 640px;
$banner-height: 111px;
$padding-offset: 30px;

$fat-border-size: 24.5px; // 30px;
$fat-border-radius: 28px; // 16px;

$background-gray: #EFF0E7;

$on-tablet:        1452px !default;
$on-phone:         1224px !default;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
      @content;
    }
  }