---
layout: default
---
<div class="description">
    {{ page.content }}
</div>

<div class="contact">
    <p>
        <a href="mailto:{{ site.email }}">{{ site.data.languages[page.lang].contact }}</a> | 
        {%- if page.lang == "de" -%}
        <a href="{{ site.base_url }}/en/members/{{ page.slug }}">
            {{ site.data.languages["en"].label }}
        </a>
        {%- else -%}
        <a href="{{ site.base_url }}/de/members/{{ page.slug }}">
            {{ site.data.languages["de"].label }}
        </a>
        {%- endif -%}
    </p>
</div>

<div class="banner">
    <div class="info">
        {%- unless page.logo == null -%}
            <p class="logo"><img src="{{site.baseurl}}/assets/images/{{ page.logo }}"></p>
        {%- endunless -%}
        <p class="text">
            <b>{{ page.title }}</b><br />
            {{ page.address }}
        </p>
    </div>
    {%- if page.founder -%}
    <div class="founder">
        <p class="logo"><img src="{{site.baseurl}}/assets/images/logo-people.png"></p>
        <p class="text"><b>{{ site.data.languages[page.lang].founder }}</b></p>
    </div>
    {%- endif -%}
    <div class="competency">
        <p class="logo"><img src="{{site.baseurl}}/assets/images/logo-competency.png"></p>
        <p class="text"><b>{{ page.competency }}</b></p>
    </div>
</div>

<div class="arrows">
    <div class="left-arrow">
        {% assign members = site.members | where: "lang", page.lang %}
        {%- for member in members -%}
            {% if member.url == page.url %}
                {% break %}
            {% endif %}
            {% assign prev = member.url  %}
        {%- endfor -%}
        {%- if prev == null -%}
            {% assign prev = members.last.url  %}
        {%- endif -%}
        <a href="{{ prev }}">&lt;</a>
    </div>

    <div class="right-arrow">
        {% assign members = site.members | where: "lang", page.lang | reverse %}
        {%- for member in members -%}
            {% if member.url == page.url %}
                {% break %}
            {% endif %}
            {% assign next = member.url  %}
        {%- endfor -%}
        {%- if next == null -%}
            {% assign next = members.last.url  %}
        {%- endif -%}
        <a href="{{ next }}">&gt;</a>
    </div>
</div>